body {
    font-family: $appFont;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

h1 {
    font-weight: 700;
}
h2 {
    color: $appBlack;
}

.form-control {
    height: 50px;
    width: 400px;
    margin: auto;
    display: block;
    &:hover,
    &:focus {
        box-shadow: none;
        border-color: $appRed;
    }
}

.buttonBlack {
    display: inline-block;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: $appBlack !important;
    border-radius: 4px;
    padding: 15px 40px;
    transition: all 0.4s ease-out;
    background-color: #ffffff;
    text-decoration: none;
    border: solid 1px $appBlack;

    &:hover,
    &:focus {
        color: #ffffff !important;
        background-color: $appBlack;
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }
}
